.skill_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill_main_sec {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.skill_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 100px;
}

.abc {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.abc span {
    width: 100px;
    text-align: center;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.dgrid {
    width: 100vw;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header p {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

#skills {
    margin-top: 200px;
}

#education {
    margin-top: 200px;
}

#projects {
    margin-top: 200px;
}

@media only screen and (max-width: 600px) {
    .skill_main_sec {
        flex-direction: column;
    }

    .dgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media only screen and (min-width: 601px) {
    .dgrid {
        grid-template-columns: repeat(2, 1fr);
    }
} */