:root {
    --color-primary: #4d4dff;
    --color-dark: #3655b3;
    --color-background: #d3deff;
    --color-blue-light: #a6bcff;
    --color-text: #fff;
}

.text {
    border-right: 2px solid var(--color-dark);
    color: var(--color-dark);
    padding-right: 5px;
}


@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}

/* navbar styling */
.flex_evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100vw;
    padding: 0px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.mob_links {
    display: none;
}

.menu_btn {
    display: none;
}

.logo {
    width: 50%;
}

.links {
    width: 50%;
}

.link_item {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'poppins-bold';
    letter-spacing: 2.5px;
    color: rgb(91, 91, 91)
}

.link_item:hover {
    color: var(--color-dark);
    border-bottom: 3px solid var(--color-dark);
}

.hero {
    width: 100vw;
    margin-top: -50px;
    padding-left: 100px;
    box-sizing: border-box;
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftcontainer h1 {
    font-size: 48px;
}

.typed-cursor {
    display: none;
}

.my_head {
    position: relative;
}

.my_head::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    background: #fff;
    animation: typing 4s steps(17) forwards, caret 1s infinite;
}

.leftcontainer h2 {
    font-size: 32px;
    margin-top: -50px;
}

.waving_hand {
    animation: wave-animation 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;

}

.right_container img {
    width: 550px;
}

.btn_container button {
    outline: none;
    /* border: none; */
    height: 50px;
    width: 170px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.primary {
    background-color: var(--color-dark);
    color: var(--color-text);
    border: none;
}

.primary:hover {
    border: 1px solid var(--color-dark);
    background: none;
    color: var(--color-dark);
}

.secondary {
    border: 1px solid var(--color-dark);
    margin-left: 20px;
    background: none;
    color: var(--color-dark);
}

.secondary:hover {
    background-color: var(--color-dark);
    color: var(--color-text);
    border: none;
}

.social_icon {
    height: 32px;
    width: 32px;
    margin: 0px 10px;
}

.github {
    background: url('../media/icons/github.png');
    margin-left: 0px;
}

.github:hover {
    background: url('../media/icons/github_blue.png');
}

.linkedin {
    background: url('../media/icons/linkedin.png');
}

.linkedin:hover {
    background: url('../media/icons/linkedin_blue.png');
}

.gmail {
    background: url('../media/icons/gmail.png');
}

.gmail:hover {
    background: url('../media/icons/gmail_blue.png');
}

.instagram {
    background: url('../media/icons/instagram.png');
}

.instagram:hover {
    background: url('../media/icons/instagram_blue.png');
}

.sc_container {
    margin-top: 20px;
    display: flex;
}

.aboutme {
    width: 100vw;
    padding: 0px 50px;
    padding-left: 100px;
    box-sizing: border-box;
    background: url('../media/about_background.png');
    background-size: cover;
    /* background-position: center; */
    height: 600px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutme h1 {
    margin-top: 50px;
    font-size: 40px;
    color: var(--color-text);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'poppins-bold';
}

.left_div {
    width: 500px;
    color: var(--color-text);
    font-size: 16px;
}

.left_div p {
    margin-top: -30px;
}

.left_div button {
    outline: none;
    border: 2px solid var(--color-text);
    background: transparent;
    height: 50px;
    width: 170px;
    color: var(--color-text);
    font-size: 16px;
    cursor: pointer;
}

.right_div {
    margin-top: 80px;
    width: 550px;
}



.ac {
    width: 100%;
}

.ac img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.imgc {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: var(--color-background);
}

section {
    margin: 100px 0px;
}

.skills_section {
    width: 100vw;
    flex-direction: column;
}

.skills_section h1 {
    font-size: 40px;
    color: var(--color-dark);
    text-transform: uppercase;
    font-family: 'poppins-bold';

}

.skills_section img {
    width: 100px;
}

.skills_container {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-content: center;
}

.skill_item {
    flex-direction: column;

    height: 300px;
    padding: 50px 0px;
    box-sizing: border-box;
    backdrop-filter: blur(5px) saturate(119%);
    -webkit-backdrop-filter: blur(5px) saturate(119%);
    background-color: rgba(77, 77, 255, 0.13);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
    color: var(--color-dark);
    font-size: 20px;
    font-family: 'poppins-bold';
    text-transform: uppercase;

}

.education {
    width: 100vw;
    flex-direction: column;
}

.main_head {
    font-size: 40px;
    color: var(--color-dark);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'poppins-bold';
}

.edu_detail {
    width: 1000px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.edu_card {
    box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    -webkit-box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    -moz-box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    padding: 20px;
    box-sizing: border-box;
    width: 500px;
}

.ei_con {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: var(--color-background);
}

.edu_ico {
    width: 60px;
}

.ed_board {
    margin-top: -20px;
    font-size: 12px;
    opacity: 0.5;
}

.det {
    flex-direction: column;
    align-items: start;
}

.ed_det {
    margin-top: -5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'poppins-bold';
}

.project {
    width: 100vw;
    flex-direction: column;
}

.cc {
    width: 90vw;
}

.card {
    width: 350px;
    height: 480px;
    box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    -webkit-box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    -moz-box-shadow: 8px 10px 29px 1px rgba(166, 188, 255, 0.75);
    border-radius: 30px;
    /* padding: 10px;
    box-sizing: border-box; */
    /* background: #000; */
}

.card img {
    width: 100%;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pd_container {
    padding: 10px 20px;
    margin-top: -10px;
    box-sizing: border-box;
}

.pd_container h3 {
    font-family: 'poppins-bold';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-dark);
}

.pd_container p {
    font-size: 14px;
    opacity: .5;
    margin-top: -10px;
}

.bbb {
    color: black;
    font-family: 'poppins-bold';
}

.pd_container a {
    text-decoration: none;
    padding: 5px 10px;
    height: 30px;
    width: 170px;
    color: var(--color-text);
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--color-dark);
}

.contact {
    width: 100vw;
    height: 400px;
    flex-direction: column;
    position: relative;
    background: var(--color-background);
    margin-bottom: -100px;
}

.cm_cont {
    /* width: 100vw; */
    flex-direction: column;

}

.cm_cont img {
    width: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.ci_cont {
    margin-top: -350px;
}

.ci_cont p {
    width: 250px;
    opacity: .5;
    text-align: center;
}

@media only screen and (max-width:700px) {
    .navbar {
        padding: 10px 20px;
        justify-content: space-between;
    }

    .links {
        display: none;
    }

    .menu_btn {
        display: block;
    }

    .menu_btn img {
        width: 50px;
    }

    .logo img {
        width: 150px;
    }

    .right_container {
        display: none;
    }

    .hero {
        padding: 0px;
        margin-top: 0px;
    }

    .leftcontainer {
        width: 100vw;
        align-items: center;
    }

    .leftcontainer h1 {
        font-size: 30px;
    }

    .my_head::after {
        animation: typing 4s steps(28) forwards, caret 1s infinite;
    }



    .leftcontainer h1,
    h2 {
        text-align: center;
    }

    .leftcontainer h2 {
        margin-top: -20px;
    }

    .btn_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sc_container {
        justify-content: center;
        align-items: center;
    }

    .aboutme {
        position: relative;
        overflow-x: hidden;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

    }

    .left_div {
        margin-top: -280px;
        margin-left: -50px;
    }

    .right_div {
        position: absolute;
        width: 400px;
        bottom: 0px;
    }

    .skills_container {
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
    }

    .skills_section img {
        width: 50px;

    }

    .skill_item {
        width: 150px;
        height: 180px;
    }

    .edu_detail {
        width: 100vw;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }

    .edu_card {
        width: 90vw;
    }

    .ei_con {
        height: 80px;
        width: 80px;
    }

    .edu_ico {
        width: 40px;
    }

    .det {
        margin-left: 20px;
    }

    .cc {
        flex-direction: column;
    }

    .card {
        margin-bottom: 50px;
    }

    .cm_cont img {
        display: none;
    }

    .mobl {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        z-index: 3;
        background-color: var(--color-dark);
        color: var(--color-text);
        /* display: flex; */
        padding: 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 100px;
    }

    .mobl img {
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .mobl div {
        font-size: 20px;
        margin: 5px 0px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'poppins-bold';
    }

    .left_div button {
        z-index: 1;
        position: relative;
    }

    .overflow {
        position: absolute;
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: rgba(10, 11, 11, 0.9);
        z-index: 2;
    }


    .active {
        display: flex;
    }


    .no_scroll {
        overflow-y: hidden;
    }


}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}

@keyframes caret {
    50% {
        color: transparent;
    }
}